<link href="~/css/index.css.css" rel="stylesheet">

<section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
        <h1>Welcome to the <a class="text-primary">BasketballTournamentSystem</a></h1>
        <h2>Here you can create your own players, add them to teams and make tournaments.</h2>
        <a asp-controller="Player" asp-action="AddPlayer" class="btn mb-1 btn-rounded btn-primary">Get Started</a>
        <img src="~/img/hero-img.png" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>
</section>

<script src="~/js/site.js"></script>