<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>This team already has 5 players in it.</h3>
            </div>
        </div>
    </div>
</div>
