<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BasketballTS</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

    @await RenderSectionAsync("Head", false)

</head>

<body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="/img/site-img-6.png" alt="" style="position: relative; right: 14px;">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="alert alert-light text-primary font-weight-bold">Hello, @User.Identity.Name</div>
                        }
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="icons dropdown">
                                <form method="post">
                                    <button asp-area="Identity" asp-controller="Account" asp-action="Register" class="btn btn-block btn-outline-primary btn-lg" aria-current="page">Sign up</button>
                                </form>
                            </li>
                            <li class="icons dropdown">
                                <form method="post">
                                    <button asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn btn-block btn-outline-primary btn-lg">Login</button>
                                </form>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="icons dropdown">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button class="btn btn-block btn-outline-primary btn-lg">Logout</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <partial name="_SidebarPartial" />
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="/">BasketballTS</a> 2022</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    @await RenderSectionAsync("Scripts", false)

</body>

</html>