<div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">

        @if (User.Identity.IsAuthenticated)
        {
            <a class="label">Hello @User.Identity.Name</a>
        }

        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-label">Users</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Manage users</span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-area="Admin" asp-controller="User" asp-action="ManageUsers">View all users</a></li>
                </ul>
            </li>
        }

        <li class="nav-label">Players</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-speedometer menu-icon"></i><span class="nav-text">Players</span>
            </a>
            <ul aria-expanded="false">
                <li><a asp-area="" asp-controller="Player" asp-action="GetAllPlayers">View all players</a></li>
                <li><a asp-area="" asp-controller="Player" asp-action="AddPlayer">Add a player</a></li>
            </ul>
        </li>
        <li class="nav-label">Teams</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-envelope menu-icon"></i> <span class="nav-text">Teams</span>
            </a>
            <ul aria-expanded="false">
                <li><a asp-area="" asp-controller="Team" asp-action="GetAllTeams">View all teams</a></li>
                <li><a asp-area="" asp-controller="Team" asp-action="AddTeam">Add a team</a></li>
            </ul>
        </li>
        <li class="nav-label">Tournaments</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-grid menu-icon"></i><span class="nav-text">Tournaments</span>
            </a>
            <ul aria-expanded="false">
                <li><a asp-area="" asp-controller="Tournament" asp-action="GetAllTournaments">View all tournaments</a></li>
                <li><a asp-area="" asp-controller="Tournament" asp-action="AddTournament">Create new tournament</a></li>
            </ul>
        </li>
    </ul>
</div>