<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>There are no players to add at the moment</h3>
            </div>
        </div>
    </div>
</div>
