@using BasketballTournamentSystem.Infrastructure.Identity
@model ApplicationUser

<form method="post">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>You need a role to acces this page.</h3>

                    <button asp-controller="User" asp-action="SetRoleRequest" asp-route-Id="@Model.Id" type="button" class="btn mb-1 btn-primary btn-lg">Request a role</button>
                </div>
            </div>
        </div>
    </div>
</form>
