<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>You have already requested a role, wait until the reqeust is accepted by the admin</h3>
            </div>
        </div>
    </div>
</div>
