@using BasketballTournamentSystem.Core.Models.User
@model IEnumerable<UserListViewModel>

@{

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Table Basic</h4>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Name</th>
                                <th>Requested role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (var user in Model)
                            {
                                i++;
                                <tr>
                                    <th>@i</th>
                                    <td>@user.Email</td>
                                    <td>

                                        @if (!user.HasRoleRequest)
                                        {
                                            <span class="badge badge-primary px-2">No</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-primary px-2">Yes</span>
                                        <td>
                                            <form method="post">
                                                <button asp-area="" asp-controller="Role" asp-action="AcceptRole" asp-route-Id="@user.Id" method="post" type="submit" class="btn mb-1 btn-success">Accept</button>
                                                <button asp-area="" asp-controller="Role" asp-action="DeclineRole" asp-route-Id="@user.Id" method="post" type="submit" class="btn mb-1 btn-danger">Decline</button>
                                            </form>
                                        </td>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


