@using BasketballTournamentSystem.Core.Models.User
@model IEnumerable<UserListViewModel>

    @{
    int i = 0;
    i++;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Table Basic</h4>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Name</th>
                                <th>Requested role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <th>@i</th>
                                    <td>@user.Email</td>
                                    <td>
                                        <span class="badge badge-primary px-2">No</span>
                                        @*                                @if (user.HasRequestedRole)
                                            {
                                            <span class="badge badge-primary px-2">Yes</span>
                                            }*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


